body {
    margin: 20px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이만큼 가운데 정렬 */
  }
  
  div{
    /* display: inline-block; */
    text-align: center;
  }
  
  h1{
    color: #333;
    border-bottom: 4px solid #a79600;
    padding-bottom: 5px;
    position: relative;
  }
  
  h1:before{
  /*     content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      width: 20px;
      height: 20px;
      background: white;
      border-left: 4px solid #a79600;
     */
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    bottom: -30px;
    border: 15px solid;
    border-color: #a79600 transparent transparent #a79600;
  }
  
  h1:after{
  /*     content: '';
      position: absolute;
      bottom: -20px;
      left: 49%;
      width: 15px;
      height: 31px;
      transform: rotate(51deg);
      border-right: 4px solid #a79600; */
      
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 34px;
    bottom: -20px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }
  